/old
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/php.bat
/composer.bat
/composer.phar
*.sublime-project
*.sublime-workspace
*.map
